<section class="panel panel-default">
  <div class="panel-heading">
      <h4 class="text-center">Login</h4>
  </div>
  <div class="panel-body">
    <form action="/users/signin" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit"  class="btn btn-primary" value="Send">
        </div>
    </form>
  </div>
</section>
